
  <aside class="sidebar" [class.sidebar-expanded]="isSidebarExpanded">
    <mat-nav-list>
      <!-- Clientes Group with Expansion Panel -->
      <mat-expansion-panel [expanded]="isSidebarExpanded" (opened)="isSidebarExpanded = true" (closed)="isSidebarExpanded = false">
        <mat-expansion-panel-header>
          <mat-icon>people</mat-icon>
          <span *ngIf="isSidebarExpanded">Clientes</span>
        </mat-expansion-panel-header>
        
        <mat-nav-list *ngIf="isSidebarExpanded">
          <a mat-list-item routerLink="clientes/cadastro" routerLinkActive="active">
            <span style="color: white;">Cadastro Cliente</span>
          </a>
          <a mat-list-item routerLink="clientes/consulta" routerLinkActive="active">
            <span style="color: white;">Consulta de Clientes</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </aside>
